.books-wrapper {
  max-width: 1000px;
  margin: 25px auto 0 auto;
  padding: 0;
  background: none !important;
  overflow: visible;
  margin-left: 260px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
}

.books-wrapper *,
.albums-row,
.albums-row * {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.books-wrapper::-webkit-scrollbar {
  height: 7px;
}

.books-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.books-wrapper::-webkit-scrollbar-thumb {
  background-color: #6d248f;
  border-radius: 4px;
}

.albums-row {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 10px;
  margin-left: 20px;
}

.albums-row::-webkit-scrollbar {
  display: none;
}
