.album-wrapper {
  width: 325px;            /* ancho del álbum */
  margin: 0 0.5rem;        /* separación horizontal */
  flex-shrink: 0;           /* evita que se encoja */
  border-radius: 12px;
  background: none;         /* elimina cualquier fondo */
  padding: 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s; /* hover solo mueve */
}

.album-wrapper:hover {
  transform: translateY(-2px); /* mueve suavemente el album hacia arriba */
}

.album-img {
  width: 100%;
  max-height: 520px;          /* altura ideal de la imagen */
  object-fit: cover;          /* mantiene proporción y recorta lo necesario */
  object-position: center; 
  border-radius: 12px;
  display: block;
  margin: 0;
  padding: 0;
 
 
}

.album-title {
  margin-top: 0.5rem;
  text-align: center;
  font-family: 'Texturina';
  font-weight: 500;
  font-size: 1.2rem;
  color: #6d248f;
  background: none !important; /* elimina cualquier fondo */
  border: none !important;     /* elimina borde */
}

.album-text {
  font-size: 0.9rem;
  color: #444;
  margin-top: 0.25rem;
  padding: 0;
  background: none !important;
  border: none !important;
}
